## SCORE DE CRÉDITO
#### Definir automaticamente após uma análise de dados se o score de crédito do cliente é : Bom, Ok, Ruim.

In [61]:
import pandas as pd
tabela = pd.read_csv("clientes.csv")
tabela = tabela.drop("id_cliente",axis=1)
display(tabela)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,...,265.0,21.465380,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,4.0,...,266.0,21.465380,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,...,267.0,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,4.0,...,268.0,21.465380,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,4.0,...,269.0,21.465380,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,7.0,...,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,7.0,...,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,6.0,...,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,6.0,...,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,6.0,...,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

In [62]:
#Verificar informações sobre a tabela
display(tabela.info()) # tabela = tabela.dropna()
display("------------------------------------------------")
display(tabela.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   mes                       100000 non-null  int64
 1   idade                     100000 non-null  float64
 2   profissao                 100000 non-null  object
 3   salario_anual             100000 non-null  float64
 4   num_contas                100000 non-null  float64
 5   num_cartoes               100000 non-null  float64
 6   juros_emprestimo          100000 non-null  float64
 7   num_emprestimos           100000 non-null  float64
 8   dias_atraso               100000 non-null  float64
 9   num_pagamentos_atrasados  100000 non-null  float64
 10  num_verificacoes_credito  100000 non-null  float64
 11  mix_credito               100000 non-null  object
 12  divida_total              100000 non-null  float64
 13  taxa_uso_credito          100000 non-null  float64
 14  idade_historico_credito   100000 non-null  float64
 15  investimento_mensal       100000 non-null  float64
 16  comportamento_pagamento   100000 non-null  object
 17  saldo_final_mes           100000 non-null  float64
 18  score_credito             100000 non-null  object
 19  emprestimo_carro          100000 non-null  int64
 20  emprestimo_casa           100000 non-null  int64
 21  emprestimo_pessoal        100000 non-null  int64
 22  emprestimo_credito        100000 non-null  int64
 23  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(6), object(4)
memory usage: 18.3+ MB

None

'------------------------------------------------'

Index(['mes', 'idade', 'profissao', 'salario_anual', 'num_contas',
       'num_cartoes', 'juros_emprestimo', 'num_emprestimos', 'dias_atraso',
       'num_pagamentos_atrasados', 'num_verificacoes_credito', 'mix_credito',
       'divida_total', 'taxa_uso_credito', 'idade_historico_credito',
       'investimento_mensal', 'comportamento_pagamento', 'saldo_final_mes',
       'score_credito', 'emprestimo_carro', 'emprestimo_casa',
       'emprestimo_pessoal', 'emprestimo_credito', 'emprestimo_estudantil'],
      dtype='object')

In [63]:
#Preparar a base para IA com labelEncoder
from sklearn.preprocessing import LabelEncoder

coder = LabelEncoder()
for coluna in tabela.columns:
    if tabela[coluna].dtype ==  "object" and coluna != "score_credito":
        tabela[coluna] = coder.fit_transform(tabela[coluna])
        display(coluna)
display("------------------------------------------------")
# display(tabela["profissao"].value_counts())
display(tabela.info())

'profissao'

'mix_credito'

'comportamento_pagamento'

'------------------------------------------------'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   mes                       100000 non-null  int64
 1   idade                     100000 non-null  float64
 2   profissao                 100000 non-null  int32
 3   salario_anual             100000 non-null  float64
 4   num_contas                100000 non-null  float64
 5   num_cartoes               100000 non-null  float64
 6   juros_emprestimo          100000 non-null  float64
 7   num_emprestimos           100000 non-null  float64
 8   dias_atraso               100000 non-null  float64
 9   num_pagamentos_atrasados  100000 non-null  float64
 10  num_verificacoes_credito  100000 non-null  float64
 11  mix_credito               100000 non-null  int32
 12  divida_total              100000 non-null  float64
 13  taxa_uso_credito          100000 non-null  float64
 14  idade_historico_credito   100000 non-null  float64
 15  investimento_mensal       100000 non-null  float64
 16  comportamento_pagamento   100000 non-null  int32
 17  saldo_final_mes           100000 non-null  float64
 18  score_credito             100000 non-null  object
 19  emprestimo_carro          100000 non-null  int64
 20  emprestimo_casa           100000 non-null  int64
 21  emprestimo_pessoal        100000 non-null  int64
 22  emprestimo_credito        100000 non-null  int64
 23  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int32(3), int64(6), object(1)
memory usage: 17.2+ MB

None

In [64]:
#Machine Learning
from sklearn.model_selection import train_test_split
#treinar e testr a ia
y = tabela["score_credito"] # y - coluna para prever
x = tabela.drop(columns=["score_credito"]) # x - coluna usada para fazer a previsao
# display(tabela)

x_treino, x_teste, y_treino, y_teste = train_test_split(x,y)

In [65]:
# Árvore de decisão e Vizinhos proximos
#importa -> criar -> treinar IA
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

arvore_decisao = RandomForestClassifier()
vizinhos_proximos = KNeighborsClassifier()

arvore_decisao.fit(x_treino,y_treino)
vizinhos_proximos.fit(x_treino,y_treino)

KNeighborsClassifier()

In [66]:
count_scores = tabela["score_credito"].value_counts()
display(count_scores)
display("------------------------------------------------")
display(count_scores["Standard"]/sum(count_scores))

score_credito
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

'------------------------------------------------'

0.53174

In [67]:
from sklearn.metrics import accuracy_score
#testar as previsoes
previsao_arvore_decisao = arvore_decisao.predict(x_teste)
previsao_vizinhos_proximos = vizinhos_proximos.predict(x_teste.to_numpy())

display(accuracy_score(y_teste,previsao_arvore_decisao))
display(accuracy_score(y_teste,previsao_vizinhos_proximos))

c:\Users\Acer\miniconda3\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

0.82616

0.7442

In [68]:
nova_tabela = pd.read_csv("novos_clientes.csv")

for coluna in nova_tabela.columns:
    if nova_tabela[coluna].dtype ==  "object" and coluna != "score_credito":
        nova_tabela[coluna] = coder.fit_transform(nova_tabela[coluna])

display(nova_tabela)

display("---------------------arvore decisão---------------------------")
previsao_ad = arvore_decisao.predict(nova_tabela)
display(previsao_ad)

display("---------------------vizinhos proximos------------------------")
previsao_vp =  vizinhos_proximos.predict(nova_tabela)
display(previsao_vp)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,1,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,1,312.487689,1,1,0,0,0
1,4,32.0,0,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,2,300.994163,0,0,0,0,1
2,2,48.0,1,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,0,345.081577,0,1,0,1,0

'---------------------arvore decisão---------------------------'

array(['Poor', 'Good', 'Standard'], dtype=object)

'---------------------vizinhos proximos------------------------'

array(['Poor', 'Poor', 'Standard'], dtype=object)

In [69]:
#Colunas que possuem mais relevancia na hora de definir o score de credito
colunas = list(x_teste.columns)
colunas_importantes = pd.DataFrame(index=colunas, data=arvore_decisao.feature_importances_)
colunas_importantes = colunas_importantes * 100
display(colunas_importantes)

                                  0
mes                        3.957755
idade                      4.231757
profissao                  3.275461
salario_anual              5.050338
num_contas                 3.452739
num_cartoes                4.834254
juros_emprestimo           8.204548
num_emprestimos            2.952562
dias_atraso                6.343076
num_pagamentos_atrasados   4.798636
num_verificacoes_credito   4.727049
mix_credito                7.862282
divida_total              11.419609
taxa_uso_credito           5.035381
idade_historico_credito    7.784423
investimento_mensal        4.837124
comportamento_pagamento    2.357562
saldo_final_mes            5.360473
emprestimo_carro           0.715118
emprestimo_casa            0.724755
emprestimo_pessoal         0.688311
emprestimo_credito         0.696951
emprestimo_estudantil      0.689836